<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <div class="nav-contents">
      <div class="h-btn"><a href="{{site.baseurl}}/">Born <span>in</span><br>New York</a></div>
      <div class="site-desc">
        <p><i>Hana</i> is a happy little baby in New&nbsp;York, living with her mom and dad.</p>
        <p class="ko">아기 <span>하나</span>는 엄마 아빠와 함께 하루하루 행복합니다.</p>
      </div>
      <ul>
        <li class="main-items"><a href="{{site.baseurl}}/about">About &bull; <span class="ko">소개</span></a></li>
        <li class="main-items"><a href="mailto:bumhan.yu@gmail.com">Contact &bull; <span class="ko">연락처</span></a></li>
      </ul>
    </div>
  </nav>
  <div class="header-content">
    <div class="logo">
      <a href="{{site.baseurl}}/" class="logo-link">Born <span>in</span> New York</a>
    </div>
  </div>
</header>
