<section class="post-nav">

  {% for post in site.posts %}
    {% if prev %}
      {% assign p = post %}
    {% endif %}
    {% assign prev = false %}
    {% if post.id == page.id %}
      {% assign prev = true %}
    {% endif %}
{% endfor %}
{% unless p == nil %}
<a class="previous" href="{{ p.url }}">
  <div>
    {{ p.title }}<br>
      <span class="ko">{{ p.title_k }}</span>
  </div>
</a>
{% endunless %}

{% for post in site.posts reversed %}
    {% if next %}
      {% assign n = post %}
      {% break %}
    {% endif %}
    {% assign next = false %}
    {% if post.id == page.id %}
      {% assign next = true %}
    {% endif %}
{% endfor %}

{% unless n == nil %}
  <a class="next" href="{{ n.url }}">
    <div>
      {{ n.title }}<br>
        <span class="ko">{{ n.title_k }}</span>
    </div>
  </a>
  {% endunless %}
</section>
